<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>About US</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id rutrum metus. 
        Sed in porttitor lacus, porta vulputate ipsum. Morbi id elit sit amet odio imperdiet dignissim. 
        Vivamus vitae risus diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
       </p>

        <p>Fusce eget magna sed justo consequat venenatis porta ut ipsum. Cras a urna quis justo luctus condimentum. Ut eleifend lorem vel metus vehicula, ac dignissim odio pretium. Etiam nulla neque, mollis a faucibus tempus, varius cursus nunc. Aenean semper diam eu ex semper elementum. Fusce mollis tristique nisl, at facilisis justo mollis ut. Nullam volutpat condimentum massa id eleifend. Etiam vestibulum fringilla ligula ut placerat. 
        Proin efficitur commodo augue, quis malesuada orci porta et. Fusce at ligula non quam convallis maximus ut eget orci.</p>

        <p>Fusce eget magna sed justo consequat venenatis porta ut ipsum. 
        Cras a urna quis justo luctus condimentum. Ut eleifend lorem vel metus vehicula, ac dignissim odio pretium. Etiam nulla neque, mollis a faucibus tempus, varius cursus nunc. Aenean semper diam eu ex semper elementum. Fusce mollis tristique nisl, at facilisis justo mollis ut. Nullam volutpat condimentum massa id eleifend. Etiam vestibulum fringilla ligula ut placerat. Proin efficitur commodo augue, quis malesuada orci porta et. 
        Fusce at ligula non quam convallis maximus ut eget orci.</p>
        
    </div>
    <%- include('./partials/footer.ejs' ) %>
</body>
</html>